Source: gr-iridium
Section: utils
Priority: optional
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9),
                gnuradio,
                gnuradio-dev
Standards-Version: 3.9.8

Package: gr-iridium
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gnuradio
Description: Receive Iridium packets
 This GNU Radio block lets you receive Iridium packets.
